#brandingPhilosophy {
  width: 100%;
  background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  position: relative;
}
#brandingPhilosophy .wave {
  position: absolute;
  bottom: 0;
  background-image: url("../../public/images/wave.png");
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}
#brandingPhilosophy .wave1 {
  -webkit-animation: animate 30s linear infinite;
  animation: animate 30s linear infinite;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#brandingPhilosophy .wave2 {
  -webkit-animation: animate2 15s linear infinite;
  animation: animate2 15s linear infinite;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#brandingPhilosophy .wave3 {
  -webkit-animation: animate 30s linear infinite;
  animation: animate 30s linear infinite;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
#brandingPhilosophy .wave4 {
  -webkit-animation: animate2 5s linear infinite;
  animation: animate2 5s linear infinite;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@-webkit-keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
#introductionText h1 {
  font-weight: 900;
  font-family: "Dosis", sans-serif;
}

#introductionDesc {
  font-family: "Lato", sans-serif;
}

#startExploring {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 575.98px) {
  #landingPageImage {
    width: 350px;
    height: 100%;
  }

  #introductionText h1 {
    font-size: 40px;
  }

  #introductionDesc {
    padding-top: 15px;
    font-size: 16px;
  }

  #startExploring {
    font-size: 16px;
  }

  #introductionText {
    padding-top: 70px;
  }

  #introductionDesc .row {
    margin-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #landingPageImage {
    width: 400px;
    height: 100%;
  }

  #introductionText h1 {
    font-size: 45px;
  }

  #introductionDesc {
    padding-top: 18px;
    font-size: 17px;
  }

  #startExploring {
    font-size: 17px;
  }

  #introductionText {
    padding-top: 80px;
  }

  #introductionDesc .row {
    margin-top: 23px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #landingPageImage {
    width: 450px;
    height: 100%;
  }

  #introductionText h1 {
    font-size: 50px;
  }

  #introductionDesc {
    padding-top: 20px;
    font-size: 18px;
  }

  #introductionText {
    padding-top: 90px;
  }

  #introductionDesc .row {
    margin-top: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #landingPageImage {
    width: 430px;
    height: 100%;
  }

  #brandingPhilosophy {
    height: 660px;
  }

  #introductionText h1 {
    font-size: 50px;
  }

  #introductionDesc {
    padding-top: 20px;
    font-size: 18px;
  }

  #introductionText {
    padding-top: 100px;
  }

  #introductionDesc .row {
    padding-top: 18px;
  }
}
@media (min-width: 1200px) {
  #landingPage {
    padding-left: 100px;
  }

  #landingPageImage {
    width: 450px;
    height: 100%;
  }

  #brandingPhilosophy {
    height: 660px;
  }

  #introductionText h1 {
    font-size: 50px;
  }

  #introductionDesc {
    padding-top: 20px;
    font-size: 18px;
  }

  #introductionText {
    padding-top: 100px;
  }

  #introductionDesc .row {
    padding-top: 20px;
  }
}

/*# sourceMappingURL=introduction.css.map */
