@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

#footerName {
  color: white;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

@include media-breakpoint-only(xs) {
  #footerContainer {
    padding-top: 15px;
    margin-top: 80px;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  }

  #footerLogo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  #footerName {
    font-size: 23px;
  }

  #socialContact{
    margin-top: 6px;
  }

  #facebookContact {
    color: white;
    font-size: 25px;
    margin-right: 8px;
  }

  #googleContact {
    color: white;
    font-size: 25px;
  }
}

@include media-breakpoint-only(sm) {
  #footerContainer {
    padding-top: 20px;
    margin-top: 80px;
    height: 90px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  }

  #footerLogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #footerName {
    font-size: 25px;
  }

  #socialContact{
    margin-top: 6px;
  }

  #facebookContact {
    color: white;
    font-size: 27px;
    margin-right: 8px;
  }

  #googleContact {
    color: white;
    font-size: 27px;
  }
}

@include media-breakpoint-only(md) {
  #footerContainer {
    padding-top: 25px;
    margin-top: 90px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  }

  #footerLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #socialContact{
    margin-top: 8px;
  }

  #facebookContact {
    color: white;
    font-size: 30px;
    margin-right: 10px;
  }

  #googleContact {
    color: white;
    font-size: 30px;
  }
}

@include media-breakpoint-only(lg) {
  #footerContainer {
    padding-top: 25px;
    margin-top: 90px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  }

  #footerLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #socialContact{
    margin-top: 10px;
  }

  #facebookContact {
    color: white;
    font-size: 30px;
    margin-right: 10px;
  }

  #googleContact {
    color: white;
    font-size: 30px;
  }
}

@include media-breakpoint-only(xl) { 

  #footerContainer {
    padding-top: 25px;
    margin-top: 90px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  }

  #footerLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #socialContact{
    margin-top: 10px;
  }

  #facebookContact {
    color: white;
    font-size: 30px;
    margin-right: 10px;
  }

  #googleContact {
    color: white;
    font-size: 30px;
  }
}