@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

.contact-link {
  padding: 12px 15px;
  margin: 8px;
  cursor: pointer;
}

.contact-link.outlook {
  border: 2px solid #0077b5;
  &:hover {
    border: 2px solid #0077b5;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.contact-link.linkedIn {
  border: 2px solid #0078d4;
  &:hover {
    border: 2px solid #0077b5;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.feedback-container {
  width: 100%;
  background-image: linear-gradient(to bottom right, #375fb4, #b83f63);
  height: auto;
  padding: 100px 0px;

  .vc_sep_line {
    height: 1px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 1px;
    width: 50px;
    &--longer {
      @extend .vc_sep_line;
      width: 30%;
    }
  }

  .feedback-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 700px;
    &--small {
      margin-bottom: 25px;
    }

    @media (max-width: 575.98px) {
      max-width: 300px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      max-width: 400px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      max-width: 500px;
    }

    @media (min-width: 991.98px) {
      max-width: 700px;
    }
  }

  .feedback-headline {
    font-weight: 700;
    @media (max-width: 575.98px) {
      font-size: 18px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      font-size: 20px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      font-size: 30px;
    }

    // @media (min-width: 992px) {

    // }
  }

  .author {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
    text-align: center;
    margin-top: 25px;

    &-sub {
      font-size: 14px;
      font-style: italic;
      line-height: 25px;
      margin-top: 5px;
    }
  }

  .testimonial-spacing {
    font-size: 18px;
    font-weight: 700;
    margin: 0 4px;
  }
}

/*-------- Animation ----------*/

@mixin group_transition($property) {
  -moz-transition: $property;
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin group_transform_3d($property, $property_3d) {
  -moz-transform: $property_3d;
  -webkit-transform: $property_3d;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property_3d;
}

@mixin group_transform($property) {
  -moz-transform: $property;
  -webkit-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.animation-elements.slide-left.in-view,
.animation-elements.slide-right.in-view {
  opacity: 1;
  @include group_transform_3d(translate(0px, 0px), translate3d(0px, 0px, 0px));
}

.animation-elements.slide-right {
  opacity: 0;
  @include group_transition(all 500ms linear);

  @media all and (max-width: 1025px) {
    @include group_transform_3d(
      translate(-150px, 0px),
      translate3d(-150px, 0px, 0px)
    );
  }

  @media all and (min-width: 1025px) {
    @include group_transform_3d(
      translate(50px, 0px),
      translate3d(50px, 0px, 0px)
    );
  }
}

.animation-elements.slide-left {
  opacity: 0;
  @include group_transition(all 500ms linear);
  @include group_transform_3d(
    translate(-150px, 0px),
    translate3d(-150px, 0px, 0px)
  );
}

.animation-elements.fade-out {
  opacity: 0;
  @include group_transition(all 500ms linear);
  @include group_transform(scale(0.9));

  &-1 {
    @extend .fade-out;
    transition-delay: 0.1s;
  }

  &-2 {
    @extend .fade-out;
    transition-delay: 0.2s;
  }

  &-3 {
    @extend .fade-out;
    transition-delay: 0.3s;
  }

  &-4 {
    @extend .fade-out;
    transition-delay: 0.4s;
  }

  &-5 {
    @extend .fade-out;
    transition-delay: 0.5s;
  }

  &-6 {
    @extend .fade-out;
    transition-delay: 0.6s;
  }
}

.animation-elements.fade-out.in-view {
  opacity: 1;
  @include group_transform(scale(1));
}

.sticky-top {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 15px -7px;
}

.headerTitle {
  color: #375fb4;
  font-size: 40px;
  font-family: "Fira Code", monospace;
}

/*-----------------------------------------*/

@include media-breakpoint-only(xs) {
  .headerTitle {
    font-size: 32px;
  }
}

@include media-breakpoint-only(sm) {
  .headerTitle {
    font-size: 36px;
  }
}

@include media-breakpoint-only(md) {
  .headerTitle {
    font-size: 38px;
  }
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}
