@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

.text-warning {
  color: orange !important;
}

@include media-breakpoint-only(xs) {
  #whyThisAppSeparator {
    margin-top: 80px;
  }

  #problemContainer {
    margin-top: 70px;
  }

  #problemContent {
    margin-top: 60px;
  }

  .issueName {
    font-size: 18px;
  }

  #moreIssues .card {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #moreIssues h4 {
    font-size: 18px;
  }

  #moreIssues .col-2 {
    font-size: 20px;
  }
}

@include media-breakpoint-only(sm) {
  #whyThisAppSeparator {
    margin-top: 90px;
  }

  #problemContainer {
    margin-top: 80px;
  }

  #problemContent {
    margin-top: 60px;
  }

  .issueName {
    font-size: 25px;
  }

  #issueImg {
    width: 360px;
    height: 560px;
  }

  #moreIssues .card {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #moreIssues .col-2 {
    font-size: 25px;
  }
}

@include media-breakpoint-only(md) {
  #whyThisAppSeparator {
    margin-top: 100px;
  }

  #problemContainer {
    margin-top: 90px;
  }

  #problemContent {
    margin-top: 60px;
  }

  .issueName {
    font-size: 25px;
  }

  #issueImg {
    width: 360px;
    height: 560px;
  }

  #moreIssues .card {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #moreIssues .col-2 {
    font-size: 30px;
  }
}

@include media-breakpoint-only(lg) {
  #whyThisAppSeparator {
    margin-top: 130px;
  }

  #problemContainer {
    margin-top: 100px;
  }

  #problemContent {
    margin-top: 70px;
  }

  .issueName {
    font-size: 20px;
  }

  #issueImg {
    width: 300px;
    height: 500px;
  }

  #moreIssues .card {
    margin-bottom: 23px;
  }

  #moreIssues h4 {
    font-size: 20px;
  }

  #moreIssues .col-2 {
    font-size: 27px;
  }
}

@include media-breakpoint-only(xl) { 
  #whyThisAppSeparator {
    margin-top: 130px;
  }

  #problemContainer {
    margin-top: 100px;
  }

  #problemContent {
    margin-top: 70px;
  }

  .issueName {
    font-size: 23px;
  }

  #issueImg {
    width: 300px;
    height: 510px;
  }

  #moreIssues .card {
    margin-bottom: 20px;
  }

  #moreIssues .col-2 {
    font-size: 30px;
  }
}